<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <h1>Test</h1>
<h2>This is interpolation: <b>{{title}}</b></h2>
<ol>
    <li *ngFor="let champ of champions">{{champ}}</li>
</ol>
<br> -->
<!-- <app-formz [p_title]="parentData">{{parentData}}</app-formz> -->
<!-- <h1>Pagination Practice </h1> -->

<!-- <ul *ngFor="let abc of randyNum | paginate: {currentPage: page, itemsPerPage: itemsToDisplay}">
    <li> -->
        <!-- {{abc}} -->
        <!-- {{abc | piping}}
    </li>
</ul>

<pagination-controls (pageChange)="pageChanger($event)"></pagination-controls> -->

<!-- Ensure that when writing the function inside pagination-controls that the $ is added inside the argument of the function that binds the page to the event -->
    <!-- <div *ngFor="let y of randyNum | paginate: {itemsPerPage: itemsToDisplay, currentPage: page}">
        {{y}}
    </div> -->
<h1>TESTING 123</h1>

<div *ngFor="let ran of randomFx | paginate: {itemsPerPage: itemsToDisplay, currentPage: page}">{{ran}}</div>
<pagination-controls (pageChange)="pageChanger($event)"></pagination-controls>

<app-lists></app-lists>

<router-outlet></router-outlet>
